<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>


<body>
    <%- include('partials/header') %>
    <div class="edit container">
        <div class="row">
            <form class="w-100 d-flex flex-wrap justify-content-center align-items-start"
                action="/products/edit/<%= productDetail.id %>?_method=PUT" enctype="multipart/form-data" method="POST"
                id="editForm">
                <div
                    class="firstColumn d-flex flex-wrap flex-column justify-content-start align-items-center col-12 col-md-8">

                    <!-- Data Block -->
                    <div
                        class="dataBlock w-100 d-flex flex-wrap justify-content-between shadow rounded-lg p-2 mb-3 mt-4">
                        <div class="w-100 d-flex flex-wrap justify-content-end align-items-center">

                            <h5 class="w-100 text-center">Información del producto:
                                "<%= productDetail.categories.name %> -
                                <%= productDetail.name %>"</h5>
                            <h5 class="w-100 text-start mb-1 p-0">ID:
                                <%= productDetail.id %></h5>
                            <input class="w-100 border border-white rounded-lg p-1 d-none" type="text"
                                name="productEditId" value="<%= productDetail.id %>">
                            <div class="d-flex flex-wrap productName w-100 mt-2">
                                <input class="w-100 border border-white rounded-lg p-1" type="text"
                                    name="productEditName" id="productEditName" value="<%= productDetail.name %>"
                                    placeholder="<%= productDetail.name %>">
                                <small class="text-danger" id="errorName"></small>
                            </div>
                            <div class="d-flex flex-wrap w-100">
                                <select class="flex-grow-1 mt-2 p-0 border border-white rounded-lg mr-2"
                                    name="productEditCategory" id="typeSearchInput">
                                    <option value="<%= productDetail.categories.id %>">
                                        <%= productDetail.categories.name %></option>
                                    <% for (let i=0; i< productsCategories.length; i++) { %>
                                    <option value="<%= productsCategories[i].id %>">
                                        <%= productsCategories[i].name %></option>
                                    <% } %>
                                </select>
                                <input class="w-25 mt-2 border border-white rounded-lg p-1" type="text"
                                    name="productEditPrice" id="productEditPrice" value="<%= productDetail.price %>"
                                    placeholder="$ <%= productDetail.price %>" size="10">
                                </div>
                                <input class="check mr-3 p-0" type="checkbox" name="typeAdd" id="typeAddCheck"
                                value="typeAdd" disabled>
                                <input class="flex-grow-1 mt-2 p-1 border border-white rounded-lg mr-0" type="text"
                                name="productEditCategoryAlternative" placeholder="Escriba la nueva categoría"
                                id="typeAddInput" disabled>
                                <small class="text-danger" id="errorPrice"></small>

                            <script>
                                document.getElementById('typeAddCheck').onchange = function () {
                                    document.getElementById('typeAddInput').disabled = !this.checked;
                                    document.getElementById('typeSearchInput').disabled = this.checked;
                                };
                            </script>
                        </div>

                    </div>
                    <!-- Data Block -->

                    <!-- Collapse Tamaños -->
                    <p class="w-100 shadow rounded-lg">
                        <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                            data-target="#collapseSize" aria-expanded="false" aria-controls="collapseSize"><i
                                class="fas fa-chevron-down"></i> Tamaños <i class="fas fa-chevron-down"></i></button>
                    </p>
                    <div class="collapse w-100 mb-3" id="collapseSize">
                        <div class="card card-body w-100">
                            <div class="size w-100 mb-2 p-2">
                                <div>
                                    <h6 class="text-center font-italic text-secondary mb-2">
                                        Taza [ml] / Mochila [lt] / Remera [cm] /
                                        Gorra [cm]</h6>

                                    <div class="d-flex flex-wrap justify-content-between w-100">
                                        <div class="check p-1 m-0 mb-1 text-center">
                                            <label for="XS">XS
                                            </label><input class="check m-0 ml-1 editSizeCheckbox" type="checkbox" name="xs" id="XS"
                                                value="XS" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                        
                                                        if (productDetail.sizes[i].tag == "XS") {
                                                            var xsChecked = true;
                                                            %> checked <% }} %>>
                                        </div>
                                        <input class="border border-light rounded-lg p-1 m-0 mb-1" size="15" type="text"
                                            name="sizeXsValue" id="xsInput" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                            
                                                            if (productDetail.sizes[i].tag == "XS") {
                                                                
                                                                %> value="<%= productDetail.sizes[i].size_main %>"
                                            <% }} %> <% if(!xsChecked) { %> disabled <% } %> placeholder="ml / lt / cm">
                                        <script>
                                            document.getElementById('XS').onchange = function () {
                                                document.getElementById('xsInput').disabled = !this.checked;
                                            };
                                        </script>

                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between w-100">
                                        <div class="check p-1 m-0 mb-1 text-center">
                                            <label for="S">S
                                            </label><input class="check m-0 ml-1 editSizeCheckbox" type="checkbox" name="s" id="S"
                                                value="S" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                            
                                            if (productDetail.sizes[i].tag == "S") {
                                                var sChecked = true;
                                                %> checked <% }} %>>
                                        </div>
                                        <input class="border border-light rounded-lg p-1 m-0 mb-1" size="15" type="text"
                                            name="sizeSValue" id="sInput" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                                
                                            if (productDetail.sizes[i].tag == "S") {
                                                
                                                %> value="<%= productDetail.sizes[i].size_main %>" <% }} %>
                                            <% if(!sChecked) { %> disabled <% } %> placeholder="ml / lt / cm">
                                        <script>
                                            document.getElementById('S').onchange = function () {
                                                document.getElementById('sInput').disabled = !this.checked;
                                            };
                                        </script>

                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between w-100">
                                        <div class="check p-1 m-0 mb-1 text-center">
                                            <label for="M">M
                                            </label><input class="check m-0 ml-1 editSizeCheckbox" type="checkbox" name="m" id="M"
                                                value="M" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                                                
                                                if (productDetail.sizes[i].tag == "M") {
                                                    var mChecked = true;
                                                    %> checked <% }} %>>
                                        </div>
                                        <input class="border border-light rounded-lg p-1 m-0 mb-1" size="15" type="text"
                                            name="sizeMValue" id="mInput" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                                                    
                                            if (productDetail.sizes[i].tag == "M") {
                                                
                                                %> value="<%= productDetail.sizes[i].size_main %>" <% }} %>
                                            <% if(!mChecked) { %> disabled <% } %> placeholder="ml / lt / cm">
                                        <script>
                                            document.getElementById('M').onchange = function () {
                                                document.getElementById('mInput').disabled = !this.checked;
                                            };
                                        </script>

                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between w-100">
                                        <div class="check p-1 m-0 mb-1 text-center">
                                            <label for="L">L
                                            </label><input class="check m-0 ml-1 editSizeCheckbox" type="checkbox" name="l" id="L"
                                                value="L" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                                                                
                                            if (productDetail.sizes[i].tag == "L") {
                                                var lChecked = true;
                                                %> checked <% }} %>>
                                        </div>
                                        <input class="border border-light rounded-lg p-1 m-0 mb-1" size="15" type="text"
                                            name="sizeLValue" id="lInput" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                                                                        
                                            if (productDetail.sizes[i].tag == "L") {
                                                
                                                %> value="<%= productDetail.sizes[i].size_main %>" <% }} %>
                                            <% if(!lChecked) { %> disabled <% } %> placeholder="ml / lt / cm">
                                        <script>
                                            document.getElementById('L').onchange = function () {
                                                document.getElementById('lInput').disabled = !this.checked;
                                            };
                                        </script>

                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between w-100">
                                        <div class="check p-1 text-center m-0 mb-1">
                                            <label for="XL">XL
                                            </label><input class="check m-0 ml-1 editSizeCheckbox" type="checkbox" name="xl" id="XL"
                                                value="XL" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                                                                                        
                                            if (productDetail.sizes[i].tag == "XL") {
                                                var xlChecked = true;
                                                %> checked <% }} %>>
                                        </div>
                                        <input class="border border-light rounded-lg p-1 m-0 mb-1" size="15" type="text"
                                            name="sizeXlValue" id="xlInput" <% for (let i=0; i<productDetail.sizes.length ; i++) {
                                                                                                                                            
                                            if (productDetail.sizes[i].tag == "XL") {
                                                
                                                %> value="<%= productDetail.sizes[i].size_main %>" <% }} %>
                                            <% if(!xlChecked) { %> disabled <% } %> placeholder="ml / lt / cm">
                                        <script>
                                            document.getElementById('XL').onchange = function () {
                                                document.getElementById('xlInput').disabled = !this.checked;
                                            };
                                        </script>

                                    </div>
                                    <button class="btn btn-warning btn-sm btn-block mt-1" disabled>Agregar otro
                                        tamaño</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Collapse Tamaños -->

                    <!-- Collapse Color -->
                    <p class="w-100 shadow rounded-lg">
                        <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                            data-target="#collapseColors" aria-expanded="false" aria-controls="collapseColors"><i
                                class="fas fa-chevron-down"></i> Colores <i class="fas fa-chevron-down"></i></button>
                    </p>
                    <div class="collapse w-100 mb-3" id="collapseColors">
                        <div class="card card-body w-100">
                            <div class="colors w-100 p-2">
                                <div class="d-flex flex-wrap justify-content-around">
                                    <% for (let i=0; i< colors.length; i++) { %>
                                    <div class="d-flex justify-content-between">
                                        <label class="text-capitalize"
                                            for="<%= colors[i].id %>"><%= colors[i].name %></label>
                                        <input class="ml-1 editColorCheckbox" type="checkbox" name="color<%= colors[i].id %>"
                                            id="<%= colors[i].id %>" value="<%= colors[i].id %>" <% for (let j=0; j<productDetail.colors.length ; j++) {
                                                if (productDetail.colors[j].name == colors[i].name) {
                                                    %> checked <% }} %>>
                                    </div>
                                    <% } %>


                                    <button class="btn btn-warning btn-sm btn-block" disabled>Agregar otro
                                        color</button>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Collapse Color -->


                    <!-- Collapse Description -->
                    <p class="w-100 shadow rounded-lg">
                        <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                            data-target="#collapseDescription" aria-expanded="false"
                            aria-controls="collapseDescription"><i class="fas fa-chevron-down"></i> Descripción <i
                                class="fas fa-chevron-down"></i></button>
                    </p>
                    <div class="collapse w-100 mb-3" id="collapseDescription">
                        <div class="card card-body w-100">
                            <div class="d-flex flex-wrap justify-content-center">

                                <input class="border border-white rounded-lg p-5 m-0 w-100" type="text"
                                    name="productEditDescription" id="productEditDescription"
                                    placeholder="Descripción: <%= productDetail.description %>"
                                    value="<%= productDetail.description %>">
                                <small class="text-danger" id="errorDescription"></small>
                            </div>
                        </div>
                    </div>
                    <!-- Collapse Description -->

                </div>

                <!-- Image editor -->
                <div class="secondColumn col-12 col-md-4 d-flex flex-wrap align-content-start mt-4 rounded-lg">

                    <div class="image col-12 position-relative p-2 rounded-lg">
                        <h5 class="text-center m-0 p-1">Portada</h5>
                        <img class="w-100 shadow rounded-lg image"
                            src="/images/products/<%= productDetail.images[0].name %>" alt="">
                        <button class="btn btn-sm btn-warning editImage" action="" type="button">Editar</button>
                        <button class="btn btn-sm btn-warning resetImage" action="" type="button">Reset</button>

                        <div>
                            <input type="file" name="imgProduct0" id="imgProduct0" class="text-truncate editInput"
                                hidden>
                            <input type="text" value="<%= productDetail.images[0].name %>" name="oldImgEdition"
                                id="oldImgEdition" class="text-truncate" hidden>
                        </div>
                    </div>

                    <% for (var j=1; j<productDetail.images.length; j++) { %>

                    <div class="image col-6 p-2 m-0">
                        <h5 class="m-0 text-center p-1">Alternativa<%=j%></h5>
                        <img class="w-100 shadow rounded-lg image"
                            src="/images/products/<%= productDetail.images[j].name %>" alt="">
                        <button class="btn btn-sm btn-warning editImage" action="" type="button">Editar</button>
                        <button class="btn btn-sm btn-warning resetImage" action="" type="button">Reset</button>

                        <div>
                            <input type="file" name="imgProduct<%= j %>" id="imgProduct<%= j %>"
                                class="text-truncate editInput" hidden>
                            <input type="text" value="<%= productDetail.images[j].name %>" name="oldImgEdition"
                                id="oldImgEdition" class="text-truncate" hidden>
                        </div>
                    </div>

                    <% } %>

                    <% for (let i=j; i<5; i++) { %>

                    <div class="image col-6 p-2 m-0">
                        <h5 class="m-0 text-center p-1">Alternativa<%=i%></h5>
                        <img class="w-100 rounded-lg image" src="/images/noImage.png" alt="">
                        <button class="btn btn-sm btn-warning editImage" action="" type="button">Editar</button>
                        <button class="btn btn-sm btn-warning resetImage" action="" type="button">Reset</button>
                        <div>
                            <input type="file" name="imgProduct<%= i %>" id="imgProduct<%= i %>"
                                class="text-truncate editInput" hidden>


                        </div>
                    </div>

                    <% } %>
                    <small class="text-danger" id="errorImages"></small>

                </div>
                <!-- Image editor -->

                <small class="text-danger" id="finalErrors"></small>
                <button class="btn btn-warning btn-lg btn-block mt-3 shadow rounded-lg m-3" type="submit"
                    form="editForm">Confirmar edición de
                    producto</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scriptsBootstrap') %>
    <script src="/js/edit.js"></script>

</body>

</html>