<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container">
        <div class="row">
            <div class="p-0 col-12 d-flex flex-column flex-wrap align-items-center">
                
                <% if(typeof errors != "undefined") { %> 
                    <div class="m-2"><h2>Se produjeron errores en la carga del producto: </h2></div>
                    <ul>
                        <% for (let key in errors) { %>
                            <li class="text-danger"> <%= errors[key].msg %> </li>
                        <% } %>
                    </ul>
                    <div class="m-2"><a href="/products/create"><button type="button" class="btn btn-lg btn-warning">Volver a crear productos</button></a></div>
                <% } else { %>
                    <div class="m-2"><h2>Lo sentimos</h2></div>
                    <div class="d-flex flex-wrap justify-content-center"><img class="w-75" src="/images/errorCat.png" alt=""></div> 
                    <div class="m-3 text-center"><h4>No encontramos lo que estabas buscando</h4></div>
                <% }  %> 
                <div class="m-2"><a href="/"><button type="button" class="btn btn-lg btn-warning">Volver al Inicio</button></a></div>
            </div>
        </div>

    </div>
    
    <%- include('partials/footer') %>
    <%- include('partials/scriptsBootstrap') %>
</body>

</html>