<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container mainLogin mt-5">
        <div class="row">
            <div class="containerColumn d-flex flex-wrap align-items-center mt-0 mb-0 m-auto shadow rounded-lg">
                <div class="containerBlock d-flex flex-wrap justify-content-between w-100 m-4">
                    <div class="firstColumn">
                        <div class="firstBlock">
                            <form class=" d-flex flex-wrap justify-content-between w-100" action="/users/login" method="POST">
                                <div class="m-0 p-0 mb-3 text-center w-100">
                                    <h4 class="text-center mt-0 mb-0 m-auto font-weight-bold">Logueate!</h4>
                                </div>
                                
                                <div class="w-100 m-0 p-0">
                                    <small class=" text-danger text-center"> <%= (typeof errors != "undefined" && errors.loginEmail) ? errors.loginEmail.msg : "" %></small>
                                    <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow" type="text"
                                        placeholder="Email" name="loginEmail" value="<%= (typeof old != 'undefined' && !errors.loginEmail) ? old.loginEmail : '' %>">
                                </div>
                                <div class="w-100 m-0 p-0">
                                    <small class=" text-danger text-center"> <%= (typeof errors != "undefined" && errors.loginPassword) ? errors.loginPassword.msg : "" %></small>
                                    <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                        type="password" placeholder="Contraseña" name="loginPassword">
                                </div>
                                <small class=" text-danger text-center"> <%= (typeof error != "undefined" && error) ? error : "" %></small>
                                <div class="w-100 m-0 p-0">
                                    <input class="border border-white mt-1 mb-0 p-2 shadow"
                                        type="checkbox" name="rememberMe" id="rememberMe">
                                        <label for="rememberMe">Recordarme</label>
                                </div>
                            <button class="btn btn-warning mt-3 mb-3 col-12 shadow" type="submit">Login</button>
                            </form>
                            <div class="d-flex flex-wrap justify-content-center w-100">
                                <a href="/users/register"><h6 class="text-center m-2">¿Aun no estás registrado?</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- <footer> -->
    <%- include('partials/footer') %>
    <!-- <footer> -->
    <!-- </scripts bootstrap> -->
    <%- include('partials/scriptsBootstrap') %>
    <!-- </scripts bootstrap> -->

</body>

</html>