<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <div class="memes container p-0">

    <!-- Div con barra de buscador y boton-->
    <div class="row p-0 m-0">
      <div class="search mb-3 w-100">
        <form class="d-flex align-items-center w-100">
          <input class="form-control mr-2 flex-grow-1 shadow border border-white rounded-lg " type="search"
            placeholder="Buscador de memes" aria-label="Search">
          <button class="btn btn-warning my-2 my-sm-0 shadow" type="submit">Buscar</button>
        </form>
      </div>
    </div>
    <!-- Div con barra de buscador y boton-->

    <!-- Navbar con categorias de memes-->
    <div class="row p-0 m-0">
      <div class="d-flex col-12 w-100 m-0 p-0 justify-content-center shaded rounded-lg align-items-center">
        <nav class="memesNav d-flex justify-content-center w-100 align-items-center shadow rounded-lg flex-wrap">
          <ul class="d-flex flex-wrap justify-content-around w-100 m-0 mb-1 mt-1 p-0 align-items-center ">
            <li class=" p-2 m-0"><a class="text-decoration-none p-0 m-0" href="#">Populares</a></li>
            <li class=" p-2 m-0"><a class="text-decoration-none p-0 m-0" href="#">Clásicos</a></li>
            <li class=" p-2 m-0"><a class="text-decoration-none p-0 m-0" href="#">Tendencias</a></li>
            <li class=" p-2 m-0"><a class="text-decoration-none p-0 m-0" href="#">Series</a></li>
            <li class=" p-2 m-0"><a class="text-decoration-none p-0 m-0" href="#">Peliculas</a></li>
            <li class=" p-2 m-0"><a class="text-decoration-none p-0 m-0" href="#">Política</a></li>
            <li class=" p-2 m-0"><a class="text-decoration-none p-0 m-0" href="#">Deportes</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Navbar con categorias de memes-->

    <!-- Selector de memes con desplegable -->

    <!-- banner con categorias -->
    <div class="row w-100 m-0 mb-3 p-1 mt-3 product-selector shadow rounded-lg">

      <!-- Cada una de las categorias que va a desplegar el collapsable -->
      <% for (let i=0; i<12; i++) { %>

      <div class="dropdown col-3 col-sm-2 col-md-1 m-0 p-0 shadow">
        <a class="text-center text-decoration-none memeCategory"><img class="col-12 rounded-lg m-0 p-1 memeCategory"
            src="<%= memes[i].url %>">
        </a>
      </div>

      <% } %>
      <p class="w-100 shadow rounded-lg mt-1 mb-0 mr-0 ml-0 p-0">
        <button class="btn btn-light btn-block m-0 p-1" type="button" data-toggle="collapse"
          data-target="#collapseLibrary" aria-expanded="false" aria-controls="collapseLibrary"><i
            class="fas fa-chevron-down"></i> Ver más <i class="fas fa-chevron-down"></i></button>
      </p>
      <div class="collapse w-100 m-0 p-0" id="collapseLibrary">
        <div class="card card-body w-100 m-0 p-0">
          <div class="row w-100 m-0 p-1  product-selector rounded-lg">

            <!-- Cada una de las categorias que va a desplegar el collapsable -->
            <% for (let i=12; i<24; i++) { %>

            <div class="dropdown col-3 col-sm-2 col-md-1 m-0 p-0 shadow">
              <a class="text-center text-decoration-none"><img class="col-12 rounded-lg m-0 p-1 memeCategory "
                  src="<%= memes[i].url %>" crossorigin="anonymous">
              </a>
            </div>

            <% } %>
          </div>
          <div class="row w-100 m-0  p-1  product-selector rounded-lg">

            <!-- Cada una de las categorias que va a desplegar el collapsable -->
            <% for (let i=24; i<36; i++) { %>

            <div class="dropdown col-3 col-sm-2 col-md-1 m-0 p-0 shadow">
              <a class="text-center text-decoration-none"><img class="col-12 rounded-lg m-0 p-1 memeCategory"
                  src="<%= memes[i].url %>" crossorigin="anonymous">
              </a>
            </div>

            <% } %>
          </div>
          <div class="row w-100 m-0  p-1  product-selector rounded-lg">

            <!-- Cada una de las categorias que va a desplegar el collapsable -->
            <% for (let i=36; i<48; i++) { %>

            <div class="dropdown col-3 col-sm-2 col-md-1 m-0 p-0 shadow">
              <a class="text-center text-decoration-none"><img class="col-12 rounded-lg m-0 p-1 memeCategory"
                  src="<%= memes[i].url %>" crossorigin="anonymous">
              </a>
            </div>

            <% } %>
          </div>
        </div>

        <!-- Cada una de las categorias que va a desplegar el collapsable -->

      </div>
    </div>

    <!-- banner con categorias -->



    <!-- Selector de memes con desplegable -->

    <!-- MAIN -->
    <div class="row main shadow rounded-lg m-0 p-0 d-flex flex-wrap">
      <!-- ARRAY MEMES -->
      <!-- <div class="arrayMemesExample d-flex justify-content-start m-0 p-0 col-12 col-md-3 shaded rounded-lg">
        <div class="d-flex flex-wrap m-0 p-0 text-center arrayImage">
          <h5 class="text-center col-12 pt-2">Ejemplos</h5>
          <div class="col-12 col-sm-6 col-md-12 d-flex flex-wrap justify-content-between m-0 p-0">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes1.png" alt="">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes2.png" alt="">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes3.png" alt="">
          </div>
          <div class="secondPack d-none d-sm-flex col-6 col-md-12 m-0 p-0 flex-wrap justify-content-between">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes4.png" alt="">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes5.png" alt="">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes6.png" alt="">
          </div>
          <div class="thirdPack d-none d-md-flex col-12 m-0 p-0 flex-wrap justify-content-between">
            <img class="col-4 m-0 p-1 " src="../images/memes/ejemplosMemes6.png" alt="">
            <img class="col-4 m-0 p-1 " src="../images/memes/ejemplosMemes5.png" alt="">
            <img class="col-4 m-0 p-1 " src="../images/memes/ejemplosMemes4.png" alt="">
          </div>
          <div class="fourthPack d-none d-md-flex col-12 m-0 p-0 flex-wrap justify-content-between">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes3.png" alt="">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes2.png" alt="">
            <img class="col-4 m-0 p-1" src="../images/memes/ejemplosMemes1.png" alt="">
          </div>
        </div>
      </div> -->
      <!-- ARRAY MEMES -->

      <!-- MEME LIBRARY -->
      <div
        class="memeLibrary d-flex flex-wrap justify-content-between text-center align-items-center m-0 p-1 col-12 shaded col-md-2 rounded-lg">
        <div class="w-100">
          <h5 class="mb-1 mt-2 p-0">Mi Biblioteca</h5>
        </div>
        <div class="col-4 col-sm-2 col-md-12 m-0 p-0 rounded-lg">
          <a class="text-center text-decoration-none"><img class="col-12 col-md-8 shadow rounded-lg m-0 p-1"
              src="/images/memes/memeUser1.png">
          </a>
        </div>
        <div class="col-4 col-sm-2 col-md-12 m-0 p-0 rounded-lg">
          <a class="text-center text-decoration-none"><img class="col-12 col-md-8 shadow rounded-lg m-0 p-1"
              src="/images/memes/memeUser2.jpg">
          </a>
        </div>
        <div class="col-4 col-sm-2 col-md-12 m-0 p-0 rounded-lg">
          <a class="text-center text-decoration-none"><img class="col-12 col-md-8 shadow rounded-lg m-0 p-1"
              src="/images/memes/memeUser3.png">
          </a>
        </div>
        <div class="col-4 col-sm-2 col-md-12 m-0 p-0 rounded-lg">
          <a class="text-center text-decoration-none"><img class="col-12 col-md-8 shadow rounded-lg m-0 p-1"
              src="/images/memes/memeUser4.png">
          </a>
        </div>
        <div class="col-4 col-sm-2 col-md-12 d-md-none m-0 p-0 rounded-lg">
          <a class="text-center text-decoration-none"><img class="col-12 col-md-8 shadow rounded-lg m-0 p-1"
              src="/images/memes/memeUser1.png">
          </a>
        </div>
        <div class="col-4 col-sm-2 col-md-12 d-md-none m-0 p-0 rounded-lg">
          <a class="text-center text-decoration-none"><img class="col-12 col-md-8 shadow rounded-lg m-0 p-1"
              src="/images/memes/memeUser3.png">
          </a>
        </div>

      </div>
      <!-- MEME LIBRARY -->

      <!-- MEME EDITOR -->
      <div class="d-flex flex-column justify-content-between memeEditorImage m-0 p-1 col-12 col-md-6 shaded rounded-lg">
        <div class="d-flex align-items-center justify-content-between w-100">
          <button class="flex-grow-1 text-truncate mt-2 mb-2 mr-1 btn btn-warning btn-sm shadow" hidden>Agregar
            sticker</button>
          <button class="flex-grow-1 text-truncate mt-2 mb-2 btn btn-warning btn-sm shadow" hidden>Agregar
            imagen</button>
          <button class="flex-grow-1 text-truncate mt-2 mb-2 ml-1 btn btn-warning btn-sm shadow" hidden>Dibujar</button>
          <button class="flex-grow-1 text-truncate mt-2 mb-2 ml-1  btn btn-warning btn-sm shadow" hidden>Rotar</button>
          <button class="mt-2 mb-2 btn btn-warning shadow w-100 btn-sm" id="uploadMemeUser">Cargar mi propia imagen <i
              class="fas fa-cloud-upload-alt"></i></button>
        </div>
        <div class="w-100 memeToComplete m-0 p-0" id="capture" crossorigin="anonymous">
          <img class="w-100 shadow rounded-lg memeToComplete" src="<%= session ? "/images/memes/memeUser.png" : "/images/memeParaCompletar.png"%>" crossorigin="anonymous"
            alt="">
          <p class="upperText  m-0 p-0 w-100"><%= session ? "" : "TEXTO SUPERIOR"%></p>
          <p class="lowerText  m-0 p-0 w-100">TEXTO INFERIOR</p>
        </div>
        <div class="d-flex flex-wrap justify-content-around">
          <div class="col-6 pl-1 pr-1 m-0">
            <button class="col-12 mt-2 mb-0 btn btn-sm btn-warning shadow" id="memeToLibrary" disabled>Enviar a
              biblioteca</button>
          </div>
          <div class="col-6 pl-1 pr-1 m-0">
            <button class="col-12 mt-2 mb-0 btn btn-sm btn-warning shadow" id="downloadMemeUser">Descargar MEME <i
                class="fas fa-cloud-download-alt"></i></button>
          </div>
        </div>

        <form role="form" class=" d-flex flex-wrap justify-content-center" enctype="multipart/form-data" method="POST"
          action="/memes" id="memeForm" hidden>
          <div class="col-12 justify-content-center text-center m-0 mb-2 p-0">
            <input class="text-truncate " type="file" name="userImg" id="userImg" hidden>
          </div>

        </form>
      </div>
      <!-- MEME EDITOR -->

      <!-- TEXT EDITOR -->
      <div class="d-flex flex-column justify-content-between textEditor m-0 p-1 col-12 col-md-4 shaded rounded-lg">

        <div
          class="d-flex textInput mb-2 w-100 text-center align-items-center justify-content-end flex-column flex-wrap ">
          <div class="d-flex flex-wrap w-100 mt-2 mb-0">
            <input class="mr-1 flex-grow-1 border border-white rounded-lg shadow p-2" name="upperText" type="text"
              placeholder="Texto Superior" size="1">
          </div>
          <div class="d-flex flex-wrap justify-content-center w-100 mt-1 mb-1">
            <button class="mt-1 border border-dark mr-1 btn btn-sm btn-light shadow colorToggle"><i
                class="fas fa-adjust"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 up mr-1"><i
                class="fas fa-arrow-circle-up"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 down mr-1"><i
                class="fas fa-arrow-circle-down"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 left mr-1"><i
                class="fas fa-arrow-circle-left"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 right mr-1"><i
                class="fas fa-arrow-circle-right"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 start mr-1"><i
                class="fas fa-align-left"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 center mr-1"><i
                class="fas fa-align-center"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 end mr-1"><i class="fas fa-align-right"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 reset"><i class="fas fa-toilet-paper"></i></button>

          </div>
          <div class="d-flex flex-wrap justify-content-center w-100 mt-0 mb-2">


            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 moreSpacing mr-1"><i class="fas fa-text-width"></i><i
                class="fas fa-plus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 lessSpacing mr-1"><i
                class="fas fa-text-width pr-1"></i><i class="fas fa-minus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 moreSize mr-1"><i class="fas fa-font"></i></i><i
                class="fas fa-plus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 lessSize mr-1"><i class="fas fa-font"></i></i><i
                class="fas fa-minus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 compress mr-1"><i class="fas fa-cut"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 rotateRight mr-1"><i
                class="fas fa-redo"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 rotateLeft mr-1"><i class="fas fa-undo"></i></button>
          </div>

          <div class="d-flex flex-wrap w-100 border-top border-dark mb-0 pt-2">
            <input class="mr-1 flex-grow-1  border border-white rounded-lg shadow p-2" name="lowerText" type="text"
              placeholder="Texto Inferior" size="1">
          </div>
          <div class="d-flex flex-wrap justify-content-center w-100 mt-1 mb-1">
            <button class="mt-1 pt-1 border border-dark mr-1 btn btn-sm btn-light shadow colorToggle"><i
                class="fas fa-adjust"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 up mr-1"><i
                class="fas fa-arrow-circle-up"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 down mr-1"><i
                class="fas fa-arrow-circle-down"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 left mr-1"><i
                class="fas fa-arrow-circle-left"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 right mr-1"><i
                class="fas fa-arrow-circle-right"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 start mr-1"><i
                class="fas fa-align-left"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 center mr-1"><i
                class="fas fa-align-center"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 end mr-1"><i class="fas fa-align-right"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 reset"><i class="fas fa-toilet-paper"></i></button>

          </div>

          <div class="d-flex flex-wrap justify-content-center w-100 mt-0 mb-2">

            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 moreSpacing mr-1"><i class="fas fa-text-width"></i><i
                class="fas fa-plus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 lessSpacing mr-1"><i
                class="fas fa-text-width pr-1"></i><i class="fas fa-minus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 moreSize mr-1"><i class="fas fa-font"></i></i><i
                class="fas fa-plus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 lessSize mr-1"><i class="fas fa-font"></i></i><i
                class="fas fa-minus"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 compress mr-1"><i class="fas fa-cut"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 rotateRight mr-1"><i
                class="fas fa-redo"></i></button>
            <button class="mt-1 btn btn-sm btn-warning shadow pt-2 rotateLeft mr-1"><i class="fas fa-undo"></i></button>

          </div>
        </div>
        <div class="textInputButtons d-flex w-100 align-items-center justify-content-end text-center flex-column">
          <div class="d-flex flex-row flex-wrap justify-content-between w-100">
            <button class="btn btn-sm flex-grow-1 btn-warning mt-1 mb-2 mr-1 shadow" disabled>Agregar otro
              texto</i></button>
          </div>
        </div>
      </div>
      <!-- TEXT EDITOR -->

    </div>
    <!-- MAIN -->

    <!-- SUBMIT -->
    <div class="row  p-0 m-0">
      <button class="btn btn-warning btn-lg btn-block mt-3 shadow" id="screenshot">Confirmar meme y continuar <i
          class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i><i
          class="fas fa-chevron-right"></i></button>
    </div>
    <!-- SUBMIT -->

    <button id="screenshot2" hidden>screenshot</button>


  </div>

  <%- include('partials/footer') %>
  <%- include('partials/scriptsBootstrap') %>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
  <script src="/js/memes.js"></script>
</body>

</html>