<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <!-- <header> -->
  <%- include('partials/header') %>
  <!-- </header> -->


  <div class="container">

    <div class="row">

      <!-- Product title -->
      <div class="col-12 p-4">
        <h1 class="product-title">que estas buscando??</h1>
      </div>
      <!-- Product title -->

      <!-- Boostrap dropdown menu -->
      <div class="row w-100 m-0 mb-4 p-4 product-selector">
        <div class="dropdown col-2">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../images/iconoimagen.png" alt="">
            <h5>Mochilita Leo</h5>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-2">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../images/iconoimagen.png" alt="">
            <h5>Mochilita Leo</h5>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-2">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../images/iconoimagen.png" alt="">
            <h5>Mochilita Leo</h5>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-2">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../images/iconoimagen.png" alt="">
            <h5>Mochilita Leo</h5>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-2">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../images/iconoimagen.png" alt="">
            <h5>Mochilita Leo</h5>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-2">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../images/iconoimagen.png" alt="">
            <h5>Mochilita Leo</h5>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-4" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
      </div>
      <!-- Boostrap dropdown menu -->

    </div>

    <!--article full description-->
    <div class="row">
      <div class="col-12 p-4 main-product">
        <div class="row">
          <div class="col-7 d-flex flex-wrap justify-content-center">
            <img class="main-product" src="../images/taza-termica.png" alt="">
          </div>
          <div class="col-5 d-flex flex-column border-left">
            <h4>Titulo del <%= title %></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde iste omnis placeat similique recusandae expedita saepe magnam ex nisi.</p>
            <h4>$$ 9.999</h4>
            <a class="align-self-end" href="/products/detail"><button type="button" class="btn btn-primary btn-lg">Lo quiero</button></a>
          </div>
        </div>
      </div>
    </div>
    
    <!--article full description-->

  </div>


  <!-- <footer> -->
  <%- include('partials/footer') %>
  <!-- </footer> -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>



<!-- 

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/products/detail"><button type="submit" name="memes">avanzar a detalle</button></a>
  </body>
</html> -->