<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <!-- <header> -->
  <%- include('partials/header') %>
  <!-- </header> -->


  <div class="container">

    <div class="row">

      <!-- Product title -->
      <div class="col-12 d-flex flex-wrap justify-content-center p-4">
        <h2 class="product-title">que estas buscando??</h1>
      </div>
      <!-- Product title -->

      <!-- Boostrap dropdown menu -->
      <div class="row w-100 m-0 mb-4 p-4 product-selector">
        <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <figure class="figure">
              <img src="../images/iconoimagen.png" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
            </figure>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <figure class="figure">
              <img src="../images/iconoimagen.png" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
            </figure>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <figure class="figure">
              <img src="../images/iconoimagen.png" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
            </figure>
          </a>
          <div class="dropdown-menu long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <figure class="figure">
              <img src="../images/iconoimagen.png" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
            </figure>
          </a>
          <div class="dropdown-menu dropdown-menu-right long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <figure class="figure">
              <img src="../images/iconoimagen.png" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
            </figure>
          </a>
          <div class="dropdown-menu dropdown-menu-right long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
        <div class="dropdown col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <a class="dropdown-item" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <figure class="figure">
              <img src="../images/iconoimagen.png" class="figure-img img-fluid rounded" alt="...">
              <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
            </figure>
          </a>
          <div class="dropdown-menu dropdown-menu-right long" aria-labelledby="dropdownMenuLink">      
            <a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a><a class="dropdown-item col-6" href="#"><img src="../images/iconoimagen.png" alt=""></a>
          </div>
        </div>
      </div>
      <!-- Boostrap dropdown menu -->

    </div>

    <!--article full description-->
    <div class="row">
      <div class="col-12 d-flex flex-wrap p-4 main-product">
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 d-flex flex-wrap justify-content-center">
            <div class="col-12 d-flex flex-wrap p-4">
              <img class="main-product w-100" src="../images/taza-termica.png" alt="">
            </div>
            <div class="col-12 d-flex flex-wrap p-4">
              <img class="main-product col-3" src="../images/taza-termica.png" alt="">
              <img class="main-product col-3" src="../images/taza-termica.png" alt="">
              <img class="main-product col-3" src="../images/taza-termica.png" alt="">
              <img class="main-product col-3" src="../images/taza-termica.png" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 pt-4 d-flex flex-column border-left">
            <h4>Titulo del <%= title %></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde iste omnis placeat similique recusandae expedita saepe magnam ex nisi.</p>
            <h4>$$ 9.999</h4>
            <a class="align-self-end" href="/products/detail"><button type="button" class="btn btn-warning btn-lg">Lo quiero</button></a>
          </div>
        </div>
      </div>
    </div>    
    <!--article full description-->

  </div>

  <!-- <footer> -->
  <%- include('partials/footer') %>
  <!-- </footer> -->
  <%- include('partials/scriptsBootstrap') %>

</body>

</html>

