<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="upload container">
        <div class="row">

            <div class="onlyColumn d-flex flex-wrap flex-column justify-content-start align-items-center col-12 col-md-8 m-auto p-0">

                <!-- Decision Block -->
                <div class="decisionBlock w-100 d-flex flex-wrap justify-content-between shadow rounded-lg p-2 mb-2">
                    <h5 class="w-100 text-center">Crear nuevo producto</h5>
                    <div class="w-100">
                        <form class="w-100" action="/products/create" method="GET">
                            <button class="w-100 btn btn-md btn-warning" type="submit">Ir a crear producto</button>
                        </form>
                    </div>
                </div>
                <!-- Decision Block -->

                <!-- filters block -->
                <div class="searchBlock w-100 d-flex flex-wrap justify-content-between shadow rounded-lg p-2 mb-2 mt-4">
                    <h5 class="w-100 text-center">Editar o eliminar</h5>
                    <form class="w-100 d-flex flex-wrap justify-content-between" action="/products/upload" method="GET">

                        <!-- id filter -->
                        <div class="d-flex flex-wrap justify-content-between align-items-center w-100 mt-2">
                            <input class="check mr-3" type="checkbox" name="idSearch" id="idSearchCheck"
                                value="idSearch">
                            <input class="w-75 mb-1 flex-grow-1 border border-white rounded-lg p-1" type="text"
                                placeholder="Busqueda por ID" name="idOfProduct" id="idSearchInput" disabled>
                            <script>
                                document.getElementById('idSearchCheck').onchange = function () {
                                    document.getElementById('idSearchInput').disabled = !this.checked;
                                };
                            </script>
                        </div>
                        <!-- id filter -->

                        <!-- name filter -->
                        <div class="d-flex flex-wrap justify-content-between align-items-center w-100 mt-2">
                            <input class="check mr-3" type="checkbox" name="nameSearch" id="nameSearchCheck"
                                value="nameSearch">
                            <input class="w-75 mb-1 flex-grow-1 border border-white rounded-lg p-1" type="text" name="nameOfProduct"
                                placeholder="Busqueda por nombre del producto" id="nameSearchInput" disabled>
                            <script>
                                document.getElementById('nameSearchCheck').onchange = function () {
                                document.getElementById('nameSearchInput').disabled = !this.checked;
                                };
                            </script>
                        </div>
                        <!-- name filter -->

                        <!-- type filter -->
                        <div class="d-flex flex-wrap justify-content-between align-items-center w-100 mt-2p">
                            <input class="check m-0 p-0" type="checkbox" name="typeSearch" id="typeSearchCheck"
                                value="typeSearch">
                            <select class="flex-grow-1 mt-1 p-1 border border-white rounded-lg ml-3" name="category"
                                id="typeSearchInput" disabled>
                                <option value="typeOfProduct">Buscar por tipo de producto</option>
                                <% for (let i=0; i< categories.length; i++) { %>

                                <option  value="<%= categories[i].name %>"><%= categories[i].name %></option>

                                <% } %>

                            </select>
                            <script>
                                document.getElementById('typeSearchCheck').onchange = function () {
                                    document.getElementById('typeSearchInput').disabled = !this.checked;
                                };
                            </script>
                        </div>
                        <!-- type filter -->

                        <!-- price filter -->
                        <!-- <div class="d-flex flex-wrap justify-content-start align-items-center w-100 mt-2">
                            <input class="check mr-3" type="checkbox" name="priceSearch" id="priceSearchCheck"
                                value="priceSearch">
                            <input class="w-25 flex-grow-0.5 border border-white rounded-lg p-1 mr-2" type="text"
                                placeholder="Min" id="priceSearchInputMin" disabled>
                            <input class="w-25 flex-grow-0.5 border border-white rounded-lg p-1" type="text"
                                placeholder="Max" id="priceSearchInputMax" disabled>
                            <script>
                                document.getElementById('priceSearchCheck').onchange = function () {
                                    document.getElementById('priceSearchInputMin').disabled = !this.checked;
                                    document.getElementById('priceSearchInputMax').disabled = !this.checked;
                                };
                            </script>
                        </div> -->
                        <!-- price filter -->

                        <button class="btn btn-warning btn-sm mt-2 w-100">Aplicar filtros</button>

                        <!-- results table -->

                        <table class="table mt-2 table-hover" id="resultsTable">
                            <thead class="thead-light">
                                <tr>
                                    <th class="p-1" scope="col">ID</th>
                                    <th class="p-1"  scope="col">Tipo</th>
                                    <th class="p-1"  scope="col">Nombre</th>
                                    <th class="p-1"  scope="col">Precio</th>
                                    <th class="p-1"  scope="col"></th>
                                    <th class="p-1"  scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i< products.length; i++) { %>

                                    <tr class="clickable-row">
                                        <td class="p-1" scope="row"><%= products[i].id %></td>
                                        <td class="p-1"  ><%= products[i].categories.name %></td>
                                        <td class="p-1"  ><%= products[i].name %></td>
                                        <td class="p-1"  >$ <%= products[i].price %></td>
                                        <td class="d-none p-1"><form action="/products/delete/<%= products[i].id %>" method="GET"><button class="btn btn-warning btn-sm w-100">Eliminar</button></form></td>
                                        <td class="p-1"  ><form action="/products/edit/<%= products[i].id %>" method="GET"><button class="btn btn-warning btn-sm w-100">Editar</i></button></form></td>
                                        <td class="p-1"  ><form action="/products/delete/<%= products[i].id %>" method="GET"><button class="btn btn-warning btn-sm w-100"><i class="far fa-trash-alt"></i></button></form></td>
                                    </tr>
    
                                    <% } %>

                            </tbody>
                        </table>
                        <!-- results table -->
                        

                    </form>
                </div>
                <!-- filters block -->

            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
    <%- include('partials/scriptsBootstrap') %>
</body>

</html>