<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>


<body>
   <%- include('partials/header') %>
   <div class="userProfile container">
      <div class="row">
         <div class="col-12 d-flex flex-wrap justify-content-center p-4">
            <h2 class="userName text-center p-0 m-0"><%= user.username %>!</h1>
         </div>
         <div class="firstColumn d-flex flex-wrap flex-column justify-content-start align-items-center col-12 col-md-6">

            <!-- AccountData Block -->
            <div class="accountDataBlock w-100 d-flex flex-wrap shadow rounded-lg p-2 mb-3 mt-0">
               <div class="w-100 d-flex flex-wrap justify-content-start align-items-between">
                  <h5 class="w-100 text-center">Datos de cuenta</h5>

                  <div class="d-flex flex-wrap align-items-center col-2 m-0 p-0">
                     <img class="w-100 shadow m-0 p-0 mb-1" src="/images/users/<%=user.avatar%>" alt="">
                     <!-- Button trigger modal -->
                     <div class="d-flex flex-wrap align-items-center w-100">
                        <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                           data-target="#avatarModal">
                           Editar
                        </button>
                     </div>
                  </div>
                  <div class="d-flex flex-wrap align-items-center col-10 m-0 p-0 pl-2">
                     <h6 class="w-100 text-start p-1 rounded-lg">Username:</h6>
                     <h6 class="bg w-100 text-start p-1 rounded-lg">
                        <%= user.username %> </h6>
                     <h6 class="w-100 text-start p-1 rounded-lg">Email:</h6>
                     <h6 class="bg w-100 text-start p-1 rounded-lg"><%= user.email %></h6>
                  </div>
               </div>
            </div>
            <!-- AccountData Block -->

            <!-- Collapse PersonalData -->
            <p class="w-100 shadow rounded-lg">
               <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                  data-target="#collapsePersonalData" aria-expanded="false" aria-controls="collapsePersonalData"><span class=" text-danger text-center">
                     <%= (typeof errors != "undefined" && errors.dni) ? "⚠" : "" %></span><i
                     class="fas fa-chevron-down"></i> Datos personales <i class="fas fa-chevron-down"></i><span class=" text-danger text-center">
                        <%= (typeof errors != "undefined" && errors.dni) ? "⚠" : "" %></span></button>
            </p>
            <div class="collapse w-100 mb-3" id="collapsePersonalData">
               <div class="card card-body w-100 m-0 p-0">
                  <div class="PersonalData w-100 m-0 p-1">
                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-4 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Nombre y apellido:</h6>
                           </div>
                           <div class="d-flex align-items-center  col-9 col-sm-6 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="nameAndLastname" id="nameAndLastname"
                                 placeholder="<%= user.first_name ? user.first_name + ' ' + user.last_name : 'No disponible' %>">
                           </div>
                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#nameModal">
                                 Editar
                              </button>
                           </div>
                        </div>
                     </div>

                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-4 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Documento:</h6>
                              <span class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.dni) ? "⚠" : "" %></span>
                           </div>
                           <div class="d-flex align-items-center  col-9 col-sm-6 input p-1 m-0">   
                              
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="dni" id="dni" placeholder="<%= user.dni ? user.dni : 'No disponible' %>">
                           </div>
                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#dniModal">
                                 Editar
                              </button>
                           </div>
                        </div>
                     </div>

                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-4 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Teléfono:</h6>
                           </div>
                           <div class="d-flex flex-wrap align-items-center col-9 col-sm-6 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="phone_0" id="phone_0"
                                 placeholder="<%= user.phone_0 ? user.phone_0 : 'No disponible' %>">
                           </div>

                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#phone_0Modal">
                                 Editar
                              </button>
                           </div>
                        </div>
                     </div>

                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-4 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Teléfono alternativo:</h6>
                           </div>
                           <div class="d-flex flex-wrap align-items-center col-9 col-sm-6 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="phone_1" id="phone_1"
                                 placeholder="<%= user.phone_1 ? user.phone_1 : 'No disponible' %>">
                           </div>

                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#phone_1Modal">
                                 Editar
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Collapse PersonalData -->

            <!-- Collapse CreditCards -->
            <p class="w-100 shadow rounded-lg">
               <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                  data-target="#collapseCreditCards" aria-expanded="false" aria-controls="collapseCreditCards"><span class=" text-danger text-center">
                     <%= (typeof errors != "undefined" && (errors.credit_card_0 || errors.credit_card_1 || errors.credit_card_2)) ? "⚠" : "" %></span><i
                     class="fas fa-chevron-down"></i> Mis tarjetas <i class="fas fa-chevron-down"></i><span class=" text-danger text-center">
                        <%= (typeof errors != "undefined" && (errors.credit_card_0 || errors.credit_card_1 || errors.credit_card_2)) ? "⚠" : "" %></span></button>
            </p>
            <div class="collapse w-100 mb-3" id="collapseCreditCards">
               <div class="card card-body w-100 m-0 p-0">
                  <div class="creditCardsData w-100 d-flex flex-wrap p-2">
                     <div class="w-100 d-flex flex-wrap justify-content-start align-items-between m-0 p-0 mb-2">
                        <div class="d-flex flex-wrap align-items-center col-2 m-0 p-0 ">
                           <img class="w-100 shadow m-0 p-0 mb-1" src="/Images/logoVisa.png" alt="">
                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center w-100 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#credit_card_0Modal">
                                 Editar
                              </button>
                           </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-between col-10 m-0 p-0 pl-2">
                           <span class=" text-danger text-center">
                              <%= (typeof errors != "undefined" && errors.credit_card_0) ? "⚠" : "" %></span>
                           <h6 class="d-flex align-items-center flex-grow-1 text-start p-1 rounded-lg m-0">
                              <%= user.credit_card_0 ? user.credit_card_0 : 'No disponible' %></h6>
                              
                           <h6 class="d-flex align-items-center w-100 text-start p-1 rounded-lg mt-2 mb-2">Emisor -
                              Banco</h6>
                           <h6 class="d-flex align-items-center w-100 text-start p-1 rounded-lg m-0">Vencimiento</h6>
                        </div>
                     </div>
                     <div class="w-100 d-flex flex-wrap justify-content-start align-items-between m-0 p-0">
                        <div class="d-flex flex-wrap align-items-center col-2 m-0 p-0 ">
                           <img class="w-100 shadow m-0 p-0 mb-1" src="/Images/logoMasterCard.png" alt="">
                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center w-100 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#credit_card_1Modal">
                                 Editar
                              </button>
                           </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-between col-10 m-0 p-0 pl-2">
                           <span class=" text-danger text-center">
                              <%= (typeof errors != "undefined" && errors.credit_card_1) ? "⚠" : "" %></span>
                           <h6 class="d-flex align-items-center flex-grow-1 text-start p-1 m-0 rounded-lg">
                              <%= user.credit_card_1 ? user.credit_card_1 : 'No disponible' %></h6>
                           <h6 class="d-flex align-items-center w-100 text-start p-1 mt-2 mb-2 rounded-lg">Emisor -
                              Banco</h6>
                           <h6 class="d-flex align-items-center w-100 text-start p-1 m-0 rounded-lg">Vencimiento</h6>
                        </div>
                     </div>
                  </div>
                  <div class="d-flex flex-wrap align-items-center col-12 p-2 m-0">
                     <button class="btn btn-warning btn-block m-0 p-0 shadow">Agregar nueva tarjeta</button>
                  </div>
               </div>
            </div>
            <!-- Collapse CreditCards -->

            <!-- Collapse UserAdresses -->
            <p class="w-100 shadow rounded-lg">
               <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                  data-target="#collapseUserAdresses" aria-expanded="false" aria-controls="collapseUserAdresses"><i
                     class="fas fa-chevron-down"></i> Mis direcciones <i class="fas fa-chevron-down"></i></button>
            </p>
            <div class="collapse w-100 mb-3" id="collapseUserAdresses">
               <div class="card card-body w-100 m-0 p-0">
                  <div class="userAdresses w-100 m-0 p-1">
                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-2 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Principal:</h6>
                           </div>
                           <div class="d-flex align-items-center  col-9 col-sm-8 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="nameAndLastname" id="nameAndLastname"
                                 placeholder="<%= user.address_0 ? user.address_0 : 'No disponible' %>">
                           </div>
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center w-100 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#address_0Modal">
                                 Editar
                              </button>
                           </div>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-2 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Alternativa:</h6>
                           </div>
                           <div class="d-flex flex-wrap align-items-center  col-9 col-sm-8 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="nameAndLastname" id="nameAndLastname"
                                 placeholder="<%= user.address_1 ? user.address_1 : 'No disponible' %>">
                           </div>
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <!-- Button trigger modal -->
                              <div class="d-flex flex-wrap align-items-center w-100 m-0">
                                 <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                    data-target="#address_1Modal">
                                    Editar
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="d-flex flex-wrap align-items-center col-12 p-1 m-0">
                        <button class="btn btn-warning btn-block m-0 p-0 shadow">Agregar nueva dirección</button>
                     </div>

                  </div>
               </div>
            </div>
            <!-- Collapse UserAdresses -->

            <!-- Modal AccountDataBlock AVATAR-->
            <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar avatar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between"
                           enctype="multipart/form-data" method="POST" action="/users/profile/<%=user.id%>"
                           id="avatarForm">
                           <div class="w-100 m-0 p-0">
                              <input class="text-truncate" type="file" name="avatar" id="avatar">
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="avatarForm">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapsePersonalData NOMBRE Y APELLIDO -->
            <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar nombre
                           y
                           apellido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="nameForm">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="firstName" placeholder="Nombre"
                                 value="<%= (typeof user.first_name != 'undefined') ? user.first_name : '' %>">
                           </div>
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="lastName" placeholder="Apellido"
                                 value="<%= (typeof user.last_name != 'undefined') ? user.last_name : '' %>">
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="nameForm">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapsePersonalData DNI -->
            <div class="modal fade" id="dniModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar DNI
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="dniForm">
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.dni) ? errors.dni.msg : "" %></small>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="dni" placeholder="DNI: 11222333"
                                 value="<%= (typeof user.dni != 'undefined') ? user.dni : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="dniForm">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapsePersonalData TELEFONO PRINCIPAL-->
            <div class="modal fade" id="phone_0Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar
                           teléfono
                           principal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="phone_0Form">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="phone_0" placeholder="Ej: 1122334455"
                                 value="<%= (typeof user.phone_0 != 'undefined') ? user.phone_0 : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="phone_0Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapsePersonalData TELEFONO ALTERNATIVO-->
            <div class="modal fade" id="phone_1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar
                           teléfono
                           alternativo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="phone_1Form">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="phone_1" placeholder="Ej: 1122334455"
                                 value="<%= (typeof user.phone_1 != 'undefined') ? user.phone_1 : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="phone_1Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapseCreditCards CARD0-->
            <div class="modal fade" id="credit_card_0Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar
                           tarjeta de crédito</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="credit_card_0Form">
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.credit_card_0) ? errors.credit_card_0.msg : "" %></small>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="credit_card_0" placeholder="Ej: 1111222233334444"
                                 value="<%= (typeof user.credit_card_0 != 'undefined') ? user.credit_card_0 : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="credit_card_0Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapseCreditCards CARD1-->
            <div class="modal fade" id="credit_card_1Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar
                           tarjeta de crédito</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="credit_card_1Form">
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.credit_card_1) ? errors.credit_card_1.msg : "" %></small>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="credit_card_1" placeholder="Ej: 1111222233334444"
                                 value="<%= (typeof user.credit_card_1 != 'undefined') ? user.credit_card_1 : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="credit_card_1Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- Modal CollapseAddress ADDRESS0-->
            <div class="modal fade" id="address_0Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar dirección principal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="address_0Form">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="address_0" placeholder="Ej: 308 Negra Arroyo Lane, Alburquerque, Nuevo México"
                                 value="<%= (typeof user.address_0 != 'undefined') ? user.address_0 : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="address_0Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapseCreditCards ADDRESS1-->
            <div class="modal fade" id="address_1Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar
                           dirección alternativa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="address_1Form">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="address_1" placeholder="Ej: 308 Negra Arroyo Lane, Alburquerque, Nuevo México"
                                 value="<%= (typeof user.address_1 != 'undefined') ? user.address_1 : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="address_1Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

         </div>

         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->

         <div class="secondColumn col-12 col-md-6 d-flex flex-wrap align-items-start">

            <!-- Meme library -->
            <div class="library w-100 position-relative p-1 rounded-lg shadow">
               <h5 class="text-center m-0 p-0">Mi bilioteca</h5>
               <h6><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>----------</h6>
               <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                  <img class="col-4 col-sm-2 shadow rounded-lg m-0 mb-2 p-1" src="/images/memes/memeUser1.png" alt="">
                  <img class="col-4 col-sm-2 shadow rounded-lg m-0 mb-2 p-1" src="/images/memes/memeUser2.jpg" alt="">
                  <img class="col-4 col-sm-2 shadow rounded-lg m-0 mb-2 p-1" src="/images/memes/memeUser3.png" alt="">
                  <img class="col-4 col-sm-2 shadow rounded-lg m-0 mb-2 p-1" src="/images/memes/memeUser4.png" alt="">
                  <img class="col-4 col-sm-2 shadow rounded-lg m-0 mb-2 p-1" src="/images/memes/memeUser1.png" alt="">
                  <img class="col-4 col-sm-2 shadow rounded-lg m-0 mb-2 p-1" src="/images/memes/memeUser2.jpg" alt="">
                  <div class="col-12 d-flex flex-wrap justify-content-end">
                     <h6>----------<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                     </h6>
                  </div>
               </div>
               <p class="w-100 shadow rounded-lg">
                  <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                     data-target="#collapseLibrary" aria-expanded="false" aria-controls="collapseLibrary"><i
                        class="fas fa-chevron-down"></i> Ver más <i class="fas fa-chevron-down"></i></button>
               </p>
               <div class="collapse w-100 m-0 p-0" id="collapseLibrary">
                  <div class="card card-body w-100 m-0 p-0">
                     <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj1.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj2.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj3.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj4.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj5.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj6.png" alt="">
                     </div>
                     <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj7.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj8.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj9.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj10.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj1.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj2.png" alt="">
                     </div>
                     <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                        <img class="col-2 shadow rounded-lg m-0 p-1" src="/images/memes/memeEj3.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj4.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj5.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj6.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj7.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj8.png" alt="">
                     </div>

                  </div>
               </div>
            </div>
            <!-- Meme library -->

            <!-- Others Block -->
            <div class="othersBlock w-100 d-flex flex-wrap shadow rounded-lg p-2 mb-0 mt-2">
               <div class="w-100 d-flex flex-wrap justify-content-between align-items-between">
                  <h5 class="w-100 text-center">Opciones de cuenta</h5>
                  <div class="d-flex flex-wrap align-items-center justify-content-around col-12 m-0 p-0 mt-2">
                     <a href="">
                        <h6>Mis compras</h6>
                     </a>
                     <a href="">
                        <h6>Seguridad</h6>
                     </a>
                     <a href="">
                        <h6>Otras#1</h6>
                     </a>
                     <a href="">
                        <h6>Otras#2</h6>
                     </a>
                     <a href="">
                        <h6>Otras#3</h6>
                     </a>
                  </div>
               </div>
            </div>
            <!-- Others Block -->

         </div>

      </div>
   </div>
   <%- include('partials/footer') %>
   <%- include('partials/scriptsBootstrap') %>
</body>

</html>