<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>


<body>
   <%- include('partials/header') %>
   <div class="userProfile container">
      <div class="row">
         <div class="col-12 d-flex flex-wrap justify-content-center p-4">
            <h2 class="userName text-center p-0 m-0"><%= user.username %>!</h1>
         </div>
         <div class="firstColumn d-flex flex-wrap flex-column justify-content-start align-items-center col-12 col-md-6">

            <!-- AccountData Block -->
            <div class="accountDataBlock w-100 d-flex flex-wrap shadow rounded-lg p-2 mb-3 mt-0">
               <div class="col-12 d-flex flex-wrap justify-content-start align-items-between m-0 p-0">
                  <h5 class="col-12 text-center block-title">Datos de cuenta</h5>

                  <div class="d-flex flex-wrap justify-content-center align-items-between col-12 col-sm-2 p-0">
                     <img class="col-6 col-sm-12 m-0 shadow p-0 avatar" src="/images/users/<%=user.avatar%>" alt="">
                     <!-- Button trigger modal -->
                     <div class="d-flex flex-wrap align-items-center justify-content-center col-12 mt-2 p-0">
                        <button type="button" class="btn btn-warning btn-sm col-4 col-sm-12 m-0" data-toggle="modal"
                           data-target="#avatarModal">
                           Editar
                        </button>
                     </div>
                  </div>
                  <div class="d-flex flex-wrap align-items-center col-12 col-sm-10 m-0 pl-2 pr-0">
                     <div class="d-flex flex-wrap align-items-center col-12 title p-1 m-0">
                        <h6 class="w-100 text-start p-1 m-0">Username: </h6>

                        <h6 class="bg m-0 text-start p-1 rounded-lg flex-grow-1 mr-2"><%= user.username %></h6>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning btn-sm pl-2 pr-2 " data-toggle="modal"
                           data-target="#usernameModal" disabled>
                           Editar
                        </button>
                     </div>
                     <div class="d-flex flex-wrap align-items-center col-12 title p-1 m-0">
                        <h6 class="w-100 text-start p-1 m-0">Email:
                        </h6>
                        <h6 class="bg m-0 text-start p-1 rounded-lg flex-grow-1 mr-2"><%= user.email %></h6>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning btn-sm pl-2 pr-2 " data-toggle="modal"
                           data-target="#emailModal" disabled>
                           Editar
                        </button>
                     </div>



                  </div>
               </div>
            </div>

            <!-- AccountData Block -->

            <!-- Collapse PersonalData -->
            <p class="w-100 shadow rounded-lg">
               <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                  data-target="#collapsePersonalData" aria-expanded="false" aria-controls="collapsePersonalData"><span
                     class=" text-danger text-center">
                     <%= (typeof errors != "undefined" && (errors.dni || errors.firstName || errors.lastName )) ? "⚠" : "" %></span><i
                     class="fas fa-chevron-down"></i> Datos personales <i class="fas fa-chevron-down"></i><span
                     class=" text-danger text-center">
                     <%= (typeof errors != "undefined" && (errors.dni || errors.firstName || errors.lastName )) ? "⚠" : "" %></span></button>
            </p>
            <div class="collapse w-100 mb-3" id="collapsePersonalData">
               <div class="card card-body w-100 m-0 p-0">
                  <div class="PersonalData w-100 m-0 p-1">
                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-4 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Nombre y apellido:</h6>
                              <span class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && (errors.firstName || errors.lastName ) ) ? "⚠" : "" %></span>
                           </div>
                           <div class="d-flex align-items-center  col-9 col-sm-6 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="nameAndLastname" id="nameAndLastname"
                                 placeholder="<%= user.first_name ? user.first_name + ' ' + user.last_name : 'No disponible' %>"
                                 disabled>
                           </div>
                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#nameModal">
                                 Editar
                              </button>
                           </div>
                        </div>
                     </div>

                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-4 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Documento:</h6>
                              <span class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.dni) ? "⚠" : "" %></span>
                           </div>
                           <div class="d-flex align-items-center  col-9 col-sm-6 input p-1 m-0">

                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="dni" id="dni" disabled
                                 placeholder="<%= user.dni ? user.dni : 'No disponible' %>">
                           </div>
                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#dniModal">
                                 Editar
                              </button>
                           </div>
                        </div>
                     </div>

                     <% for( let i = 0; i < user.phones.length; i++ ) { %>

                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-4 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Teléfono #<%=i+1%>:</h6>
                           </div>

                           <div class="d-flex flex-wrap align-items-center col-9 col-sm-6 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="phone_number" id="phone_number" disabled
                                 placeholder="<%= user.phones[i].phone_number ? user.phones[i].phone_number : 'No disponible' %>">
                           </div>

                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#phone_<%=i%>Modal">
                                 Editar
                              </button>
                           </div>
                        </div>
                     </div>

                     <% } %>
                  </div>

                  <div class="d-flex flex-wrap align-items-center justify-content-center col-12 p-2 m-0">
                     <button type="button" class="btn btn-warning w-75 mb-3 p-1 shadow" data-toggle="modal"
                        data-target="#new_phone_Modal">
                        Agregar nuevo teléfono
                     </button>
                  </div>

               </div>
            </div>
            <!-- Collapse PersonalData -->

            <!-- Collapse CreditCards -->
            <p class="w-100 shadow rounded-lg">
               <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                  data-target="#collapseCreditCards" aria-expanded="false" aria-controls="collapseCreditCards"><span
                     class=" text-danger text-center">
                     <%= (typeof errors != "undefined" && (errors.credit_card_number || errors.new_credit_card_number )) ? "⚠" : "" %></span><i
                     class="fas fa-chevron-down"></i> Mis tarjetas <i class="fas fa-chevron-down"></i><span
                     class=" text-danger text-center">
                     <%= (typeof errors != "undefined" && (errors.credit_card_number || errors.new_credit_card_number )) ? "⚠" : "" %></span></button>
            </p>
            <div class="collapse w-100 mb-3" id="collapseCreditCards">
               <div class="card card-body w-100 m-0 p-0">
                  <div class="creditCardsData w-100 d-flex flex-wrap p-2">
                     <span class="text-danger text-center w-100">
                        <%= (typeof errors != "undefined" && errors.new_credit_card_number ) ? "Los datos ingresados no fueron correctos" : "" %></span>


                     <% for( let i = 0; i < user.credit_cards.length; i++ ) { %>

                     <div class="w-100 d-flex flex-wrap justify-content-start align-items-between m-0 p-0 mb-2">
                        <div class="d-flex flex-wrap align-items-center col-2 m-0 p-0 ">
                           <img class="w-100 shadow m-0 p-0 mb-1"
                              src="<%= user.credit_cards[i].number != undefined && user.credit_cards[i].number.toString().split('')[0]==4 ? '/Images/logoVisa.png' : user.credit_cards[i].number != undefined && user.credit_cards[i].number.toString().split('')[0]==5 ? '/Images/logoMasterCard.png' : user.credit_cards[i].number != undefined && user.credit_cards[i].number.toString().split('')[0]==3 ? '/images/logoAmex.png' : '/Images/logoDesconocido.png' %>">
                           <!-- Button trigger modal -->
                           <div class="d-flex flex-wrap align-items-center w-100 m-0">
                              <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                 data-target="#credit_card_<%=i%>Modal">
                                 Editar
                              </button>
                           </div>
                        </div>
                        <div class="d-flex flex-wrap align-items-between col-10 m-0 p-0 pl-2">
                           
                           <span class=" text-danger text-center">
                              <%= (typeof errors != "undefined" && errors.credit_card_number && old.credit_card_id==user.credit_cards[i].id) ? "⚠" : "" %></span>
                           <h6 class="d-flex align-items-center flex-grow-1 text-start p-1 rounded-lg m-0">
                              <%= user.credit_cards[i].number != undefined && user.credit_cards[i].number ? user.credit_cards[i].number : 'No disponible' %>
                           </h6>
                           <h6 class="d-flex align-items-center w-100 text-start p-1 mt-2 mb-2 rounded-lg">
                              Emisor:
                              <%= user.credit_cards[i].number != undefined && user.credit_cards[i].number.toString().split('')[0]==4 ? 'VISA' : user.credit_cards[i].number != undefined && user.credit_cards[i].number.toString().split('')[0]==5 ? 'Master Card' : user.credit_cards[i].number != undefined && user.credit_cards[i].number.toString().split('')[0]==3 ? 'American Express' : 'Otro' %>
                           </h6>
                           <h6 class="d-flex align-items-center w-100 text-start p-1 rounded-lg m-0">
                              Vencimiento:
                              <%= user.credit_cards[i].expire_date != undefined && user.credit_cards[i].expire_date ? user.credit_cards[i].expire_date : 'No disponible' %>
                           </h6>
                        </div>
                     </div>
                     <% } %>

                  </div>
                  <div class="d-flex flex-wrap align-items-center justify-content-center col-12 p-2 m-0">
                     <button type="button" class="btn btn-warning w-75 mb-3 p-1 shadow" data-toggle="modal"
                        data-target="#new_credit_card_Modal">
                        Agregar nueva tarjeta
                     </button>
                  </div>
               </div>
            </div>
            <!-- Collapse CreditCards -->

            <!-- Collapse UserAdresses -->
            <p class="w-100 shadow rounded-lg">
               <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                  data-target="#collapseUserAdresses" aria-expanded="false" aria-controls="collapseUserAdresses"><i
                     class="fas fa-chevron-down"></i> Mis direcciones <i class="fas fa-chevron-down"></i></button>
            </p>
            <div class="collapse w-100 mb-3" id="collapseUserAdresses">
               <div class="card card-body w-100 m-0 p-0">
                  <div class="userAdresses w-100 m-0 p-1">

                     <% for( let i = 0; i < user.addresses.length; i++ ) { %>

                     <div>
                        <div class="d-flex flex-wrap justify-content-between w-100 m-0 p-0">
                           <div class="d-flex align-items-center col-12 col-sm-2 title p-1 m-0">
                              <h6 class="w-100 text-start p-1 m-0">Dirección #<%=i+1%></h6>
                           </div>
                           <div class="d-flex align-items-center  col-9 col-sm-8 input p-1 m-0">
                              <input class="border flex-grow-1 border-light rounded-lg p-1 m-0" size="15" type="text"
                                 name="nameAndLastname" id="nameAndLastname" disabled
                                 placeholder="<%= user.addresses[i].address_street + " " + user.addresses[i].address_number + " " + user.addresses[i].address_floor + " " + user.addresses[i].address_door   %>">
                           </div>
                           <div class="d-flex flex-wrap align-items-center col-3 col-sm-2 p-1 m-0">
                              <!-- Button trigger modal -->
                              <div class="d-flex flex-wrap align-items-center w-100 m-0">
                                 <button type="button" class="btn btn-warning btn-sm w-100" data-toggle="modal"
                                    data-target="#address_<%=i%>Modal">
                                    Editar
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>


                     <% } %>


                     <div class="d-flex flex-wrap align-items-center justify-content-center col-12 p-2 m-0">
                        <button type="button" class="btn btn-warning w-75 mb-3 p-1 shadow" data-toggle="modal"
                           data-target="#new_address_Modal">
                           Agregar nueva dirección
                        </button>
                     </div>

                  </div>
               </div>
            </div>
            <!-- Collapse UserAdresses -->

            <!-- Modal AccountDataBlock AVATAR-->
            <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar avatar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body col-12 d-flex flex-wrap justify-content-center">
                        <form role="form" class=" d-flex flex-wrap justify-content-center" enctype="multipart/form-data"
                           method="POST" action="/users/profile/<%=user.id%>" id="avatarForm">
                           <div class="col-12 justify-content-center text-center m-0 mb-2 p-0">
                              <input class="text-truncate " type="file" name="avatar" id="avatar">
                           </div>
                           <div class="col-6 m-0 p-0 justify-content-center">
                              <img class="col-12 shadow p-0 m-0 previewAvatar rounded-lg"
                                 src="/images/users/<%= user.avatar %>" alt="">
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="avatarForm" id="submitAvatar"
                           disabled>Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal AccountDataBlock USERNAME -->
            <div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar username
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="usernameForm">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="username" placeholder="Nombre de usuario" value="<%=user.username%>">
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="usernameForm">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal AccountDataBlock EMAIL -->
            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>

                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="emailForm">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="email" placeholder="Email" value="<%=user.email%>">
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="emailForm">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapsePersonalData NOMBRE Y APELLIDO -->
            <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar nombre
                           y
                           apellido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="nameForm">
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.firstName) ? errors.firstName.msg : "" %></small>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="firstName" placeholder="Nombre"
                                 value="<%= (typeof user.first_name != 'undefined') ? user.first_name : '' %>">
                           </div>
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.lastName) ? errors.lastName.msg : "" %></small>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="lastName" placeholder="Apellido"
                                 value="<%= (typeof user.last_name != 'undefined') ? user.last_name : '' %>">
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="nameForm">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapsePersonalData DNI -->
            <div class="modal fade" id="dniModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar DNI
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="dniForm">
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.dni) ? errors.dni.msg : "" %></small>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="dni" placeholder="DNI: 11222333"
                                 value="<%= (typeof user.dni != 'undefined') ? user.dni : '' %>">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="dniForm">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapsePersonalData TELEFONOS-->
            <% for( let i = 0; i < user.phones.length; i++ ) { %>
            <div class="modal fade" id="phone_<%=i%>Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar
                           teléfono #<%=i+1%></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="phone_<%=i%>Form">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="phone_number" placeholder="Ej: 1122334455"
                                 value="<%=user.phones[i].phone_number %>">
                              </input>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 hidden type="text" name="phone_id" value="<%= user.phones[i].id%>">
                              </input>
                           </div>
                        </form>
                        <form role="form" method="POST" hidden action="/users/profile/<%=user.id%>?_method=DELETE"
                           id="delete_phone_<%=i%>Form">
                           <input hidden type="text" name="delete_phone_id" value="<%=user.phones[i].id%>">
                           </input>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" form="delete_phone_<%=i%>Form">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="phone_<%=i%>Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>
            <% } %>

            <!-- Modal NEW TELEFONO-->
            <div class="modal fade" id="new_phone_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Agregar nuevo teléfono</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="new_phone_Form">
                           <div class="w-100 m-0 p-0">
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_phone_number" placeholder="Ej: 1122334455">
                              </input>
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="new_phone_Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Modal CollapseCreditCards CARDS-->
            <% for( let i = 0; i < user.credit_cards.length; i++ ) { %>
            <div class="modal fade" id="credit_card_<%=i%>Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar
                           tarjeta de crédito</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="credit_card_<%=i%>Form">
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.credit_card_number && old.credit_card_id==user.credit_cards[i].id) ? errors.credit_card_number.msg : "" %></small>
                                 <h6>Número:</h6>
                                 <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="credit_card_number" placeholder="Ej: 1111222233334444"
                                 value="<%= (typeof user.credit_cards[i].number != 'undefined') ? user.credit_cards[i].number : '' %>">
                              </input>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 hidden type="text" name="credit_card_id" value="<%= user.credit_cards[i].id%>">
                              </input>
                              <h6>Fecha de vencimiento:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="credit_card_expire_date" placeholder="Ej: YYYY-MM-DD"
                                 value="<%= (typeof user.credit_cards[i].expire_date != 'undefined') ? user.credit_cards[i].expire_date : '' %>">
                              </input>

                           </div>
                        </form>
                        <form role="form" method="POST" hidden action="/users/profile/<%=user.id%>?_method=DELETE"
                           id="delete_credit_card_<%=i%>Form">
                           <input hidden type="text" name="delete_credit_card_id" value="<%=user.credit_cards[i].id%>">
                           </input>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-danger"
                           form="delete_credit_card_<%=i%>Form">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="credit_card_<%=i%>Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <% } %>

            <!-- Modal NEW Credit Cards-->

            <div class="modal fade" id="new_credit_card_Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Nueva
                           tarjeta de crédito</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="new_credit_card_Form">
                           <div class="w-100 m-0 p-0">
                              <small class=" text-danger text-center">
                                 <%= (typeof errors != "undefined" && errors.credit_card_number) ? errors.credit_card_number.msg : "" %></small>
                                 <h6>Número:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_credit_card_number" placeholder="Ej: 1111222233334444">
                              </input>
                              <h6>Fecha de vencimiento:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_credit_card_expire_date" placeholder="Ej: YYYY-MM-DD">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="new_credit_card_Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>


            <!-- Modal CollapseAddress ADDRESS0-->

            <% for( let i = 0; i < user.addresses.length; i++ ) { %>

            <div class="modal fade" id="address_<%=i%>Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Modificar dirección #<%=i+1%>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="address_<%=i%>Form">
                           <div class="w-100 m-0 p-0">
                              <label>Calle:</label>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="address_street" placeholder="Ej: Negra Arroyo Lane"
                                 value="<%=(typeof user.addresses[i].address_street != "undefined" )?user.addresses[i].address_street:""%>">
                              </input>
                              <div class="d-flex flex-wrap justify-content-between">
                                 <div class="col-4 m-0 p-0">
                                    <h6>Número:</h6>
                                    <input class="border border-white rounded-lg mt-1 mb-3 p-2 w-100 shadow" type="text"
                                       name="address_number" placeholder="Ej: 308"
                                       value="<%=(typeof user.addresses[i].address_number != "undefined" )?user.addresses[i].address_number:""%>">
                                    </input>
                                 </div>
                                 <div class="col-4 m-0 pl-2 pr-0">
                                    <h6>Piso:</h6>
                                    <input class="border border-white rounded-lg mt-1 mb-3 p-2 shadow w-100" type="text"
                                       name="address_floor" placeholder="Ej: 7"
                                       value="<%=(typeof user.addresses[i].address_floor != "undefined" )?user.addresses[i].address_floor:""%>">
                                    </input>
                                 </div>
                                 <div class="col-4 m-0 pl-2 pr-0">
                                    <h6>Departamento:</h6>
                                    <input class="border border-white rounded-lg mt-1 mb-3 p-2 w-100 shadow" type="text"
                                       name="address_door" placeholder="Ej: D"
                                       value="<%=(typeof user.addresses[i].address_door != "undefined" )?user.addresses[i].address_door:""%>">
                                    </input>
                                 </div>
                              </div>
                              <h6>Ciudad:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="address_city" placeholder="Ej: Albuquerque"
                                 value="<%=(typeof user.addresses[i].address_city != "undefined" )?user.addresses[i].address_city:""%>">
                              </input>
                              <h6>Provicia / Estado:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="address_state" placeholder="Ej: Nuevo México"
                                 value="<%=(typeof user.addresses[i].address_state != "undefined" )?user.addresses[i].address_state:""%>">
                              </input>
                              <h6>País:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="address_country" placeholder="Ej: USA"
                                 value="<%=(typeof user.addresses[i].address_country != "undefined" )?user.addresses[i].address_country:""%>">
                              </input>
                              <h6>CP:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-50 mt-1 mb-3 p-2 shadow"
                                 type="text" name="address_zipcode" placeholder="Ej: 1425"
                                 value="<%=(typeof user.addresses[i].address_zipcode != "undefined" )?user.addresses[i].address_zipcode:""%>">
                              </input>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 hidden type="text" name="address_id" value="<%=user.addresses[i].id%>">
                              </input>
                           </div>
                        </form>
                        <form role="form" method="POST" hidden action="/users/profile/<%=user.id%>?_method=DELETE"
                           id="delete_address_<%=i%>Form">
                           <input hidden type="text" name="delete_address_id" value="<%=user.addresses[i].id%>">
                           </input>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-danger" form="delete_address_<%=i%>Form">Eliminar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="address_<%=i%>Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

            <% } %>

            <!-- Modal New ADDRESS-->
            <div class="modal fade" id="new_address_Modal" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="exampleModalLabel">Agregar nueva dirección</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <form role="form" class=" d-flex flex-wrap justify-content-between" method="POST"
                           action="/users/profile/<%=user.id%>" id="new_address_Form">
                           <div class="w-100 m-0 p-0">
                              <label>Calle:</label>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_address_street" placeholder="Ej: Negra Arroyo Lane">
                              </input>
                              <div class="d-flex flex-wrap justify-content-between">
                                 <div class="col-4 m-0 p-0">
                                    <h6>Número:</h6>
                                    <input class="border border-white rounded-lg mt-1 mb-3 p-2 w-100 shadow" type="text"
                                       name="new_address_number" placeholder="Ej: 308">
                                    </input>
                                 </div>
                                 <div class="col-4 m-0 pl-2 pr-0">
                                    <h6>Piso:</h6>
                                    <input class="border border-white rounded-lg mt-1 mb-3 p-2 shadow w-100" type="text"
                                       name="new_address_floor" placeholder="Ej: 7">
                                    </input>
                                 </div>
                                 <div class="col-4 m-0 pl-2 pr-0">
                                    <h6>Departamento:</h6>
                                    <input class="border border-white rounded-lg mt-1 mb-3 p-2 w-100 shadow" type="text"
                                       name="new_address_door" placeholder="Ej: D">
                                    </input>
                                 </div>
                              </div>
                              <h6>Ciudad:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_address_city" placeholder="Ej: Albuquerque">
                              </input>
                              <h6>Provicia / Estado:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_address_state" placeholder="Ej: Nuevo México">
                              </input>
                              <h6>País:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-100 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_address_country" placeholder="Ej: USA">
                              </input>
                              <h6>CP:</h6>
                              <input class="border border-white rounded-lg flex-grow-1 w-50 mt-1 mb-3 p-2 shadow"
                                 type="text" name="new_address_zipcode" placeholder="Ej: 1425">
                              </input>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-warning" form="new_address_Form">Guardar
                           cambios</button>
                     </div>
                  </div>
               </div>
            </div>

         </div>

         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->
         <!-- SECOND COLUMN -->

         <div class="secondColumn col-12 col-md-6 d-flex flex-wrap align-items-start">

            <!-- Meme library -->
            <div class="library w-100 position-relative p-1 rounded-lg shadow">
               <h5 class="text-center m-0 p-0 block-title">Mi bilioteca</h5>
               <h6><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>----------
               </h6>
               <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                  <% for( let i = 0; i < 6; i++ ) { %>

                     <img class="col-4 col-sm-2 shadow rounded-lg m-0 mb-2 p-1" src="<%= user.user_memes[i] ? user.user_memes[i].meme_location : `/images/memes/memeUser${i}.png` %>" alt="">
                  
                  <% } %>

                  <div class="col-12 d-flex flex-wrap justify-content-end">
                     <h6>----------<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                     </h6>
                  </div>
               </div>
               <p class="w-100 shadow rounded-lg">
                  <button class="btn btn-light btn-block" type="button" data-toggle="collapse"
                     data-target="#collapseLibrary" aria-expanded="false" aria-controls="collapseLibrary"><i
                        class="fas fa-chevron-down"></i> Ver más <i class="fas fa-chevron-down"></i></button>
               </p>
               <div class="collapse w-100 m-0 p-0" id="collapseLibrary">
                  <div class="card card-body w-100 m-0 p-0">
                     <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj1.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj2.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj3.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj4.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj5.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj6.png" alt="">
                     </div>
                     <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj7.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj8.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj9.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj10.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj1.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj2.png" alt="">
                     </div>
                     <div class="d-flex flex-wrap justify-items-between col-12 m-0 p-0">
                        <img class="col-2 shadow rounded-lg m-0 p-1" src="/images/memes/memeEj3.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj4.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj5.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj6.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj7.png" alt="">
                        <img class="col-2 shadow rounded-lg m-0 p-1 " src="/images/memes/memeEj8.png" alt="">
                     </div>

                  </div>
               </div>
            </div>
            <!-- Meme library -->

            <!-- Others Block -->
            <div class="othersBlock w-100 d-flex flex-wrap shadow rounded-lg p-2 mb-0 mt-2">
               <div class="w-100 d-flex flex-wrap justify-content-between align-items-between">
                  <h5 class="w-100 text-center block-title">Opciones de cuenta</h5>
                  <div class="d-flex flex-wrap align-items-center justify-content-around col-12 m-0 p-0 mt-2">
                     <a href="">
                        <h6>Mis compras</h6>
                     </a>
                     <a href="">
                        <h6>Seguridad</h6>
                     </a>
                     <a href="">
                        <h6>Otras#1</h6>
                     </a>
                     <a href="">
                        <h6>Otras#2</h6>
                     </a>
                     <a href="">
                        <h6>Otras#3</h6>
                     </a>
                  </div>
               </div>
            </div>
            <!-- Others Block -->

         </div>

      </div>
   </div>
   <%- include('partials/footer') %>
   <%- include('partials/scriptsBootstrap') %>
   <script src="/js/usersProfile.js"></script>

</body>

</html>